<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=com.practice.com"/>
        <listEntry value="artifactId=demo-proj1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.practice.com.demo_proj1"/>
        <listEntry value="outputDirectory=/Users/07.gaurav/Documents/eclipse_workSpace/Maven_Selenium_java"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/8j/kl827d8x0_g2d3x0r8vg7rmh0000gn/T/m2e-archetypeGenerator18233095334994782336"/>
</launchConfiguration>
